html, body {
  font-family: "Gilroy-bold";
  padding: 0;
  margin: 0;
}

.header {
  margin-top: 2.5em;
  border-bottom: 2px solid #8BA5C4;
  box-sizing: border-box;
  padding: 0 10em;
  color: #8BA5C4;
  border-radius: 10px;
  background-color: #1C2F45;
}

.logo {
  margin: 10px;
  width: 5em;
}

.image-right {
  background-image: url('refact-removebg.png');
  background-repeat: no-repeat;
}

.image {
  width: 28em;
  height: 25em;
}

.content {
  display: flex;
  justify-content: space-around;
  padding: 5em 20em 0 20em;
}

.body {
  background-color: #501D22;
}

.headline {
  font-size: 3.5rem;
  color: #B5958A;
  letter-spacing: 5px;
}

.footer {
  border-top: 2px solid #8BA5C4;
  border-radius: 10px;
  height: 8em;
  background-color: #1C2F45;
  display: flex;
}

.footer__text {
  margin-left: 7em;
  color: #8BA5C4;
  text-align: justify;
  width: 40%;
  padding: 15px;
  font-size: 1.3rem;
}

.contact {
  margin: 2.5em 20em;
  width: 30%;
}

.link {
  border-radius: 5px;
  background-color: #501D22;
  border: 2px solid #8BA5C4;
  width: 12em;
  padding: 20px 0;
  text-align: center;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  transition: ease-in;
  font-style: normal;
}

a link:hover {
  border: 1px solid #fff;
}

a, a:visited, a:hover, a:active {
  color: #B5958A;
}

.contact-mobile {
  display: none;
}

@media screen and (max-width: 600px) {
  .header {
    font-size: .7rem;
    margin-top: 1em;
  }

  .footer__text {
    width: 100%;
    margin: 0 !important;
    font-size: 1em;
    box-sizing: border-box
  }

  .content {
    margin-top: 10px;
    flex-direction: column-reverse;
    padding: 1em;
  }

  .image-right {
    text-align: center;
  }

  .image {
    height: 15em;
    width: 20em;
  }

  .headline {
    padding: 0;
    margin: 0;
    font-size: 3rem;
    letter-spacing: 0;
  }

  .footer {
    flex-direction: column;
    height: 15em;
    padding: 0;
    margin: 0;
  }

  .contact {
    display: none;
  }

  .link {
    display: none;
  }

  .contact-mobile {
    border-radius: 10px;
    width: 95%;
    margin: 10px auto;
    display: block;
    background-color: #501D22;
    border: 2px solid #8BA5C4;
    font-style: normal;
  }
  
  .link-mobile {
    text-align: center;
    display: block;
    box-sizing: border-box;
    padding: 15px;
    text-decoration: none;
  }
}

@media screen and (max-width: 1400px) {
  .footer__text {
    margin-left: 2em;
    width: 100%;
  }

  .headline {
    letter-spacing: 0;
  }

  .contact {
    width: 3em;
  }
}